//- include footer link

<!-- removeIf(build) -->
<!-- build:js scripts/assets.js -->

<!-- bower:js -->
<!-- endbower -->

<!-- endbuild -->
<!-- endRemoveIf(build) -->

<!-- build:js scripts/scripts.js -->
<!-- inject:js -->
<!-- endinject -->
<!-- endbuild -->