/**
 *  Config
 */

$min-width: 320px;
$max-width: 980px;

$font-size: 14px;
$line-height: 20px;
$font-family: Helvetica, Arial, sans-serif;

$default-color: #000;
$default-bg-color: #fff;

$default-color-link: #0379dc;
$default-color-link-hover: #0763b1;

$default-animation-speed: 0.35s;

$img-url: '../images/';
$pic-url: '../pictures/';
$font-url: '../fonts/';