doctype html
html(lang="en")
	head

		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Yeomify generator

		meta(name="description", content="")
		meta(name="author", content="")

		include includes/_head.pug

	body

		p Yeoman generator for landing project powered by Gulp.
		span Version: 1.5.0

		include includes/_foot.pug