/**
 *	Font
 */

@font-face
	font-family 'FontName'
	src url($img-url + 'fontname.eot?#iefix') format('embedded-opentype'),
		url($img-url + 'fontname.woff') format('woff'),
		url($img-url + 'fontname.ttf') format('truetype'),
		url($img-url + 'fontname.svg#FontName') format('svg')
	font-weight normal
	font-style normal