//- include header link

link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")

<!-- removeIf(build) -->
<!-- build:js css/assets.css -->

<!-- bower:css -->
<!-- endbower -->

<!-- endbuild -->
<!-- endRemoveIf(build) -->

<!-- build:js css/style.css -->
<!-- inject:css -->
<!-- endinject -->
<!-- endbuild -->